*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
MyJson.json
fragment_calendar_event.xml
Event.kt
FragmentCalendarEvent.kt
buildOutputCleanup.lock
outputFiles.bin
.gitignore
file-system.probe
BaseAdapter.kt

