*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/*.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/navEditor.xml

.idea/.gitignore
outputFiles.bin
buildOutputCleanup.lock
file-system.probe

build.gradle
.local.properties
buildOutputCleanup
.gitignore

.buildOutputCleanup.lock
.file-system.probe
.outputFiles.bin

/Users/macbookair/AndroidStudioProjects/ActiveparksAndroid/.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock

/Users/macbookair/AndroidStudioProjects/ActiveparksAndroid/.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/outputFiles.bin

.gradle/buildOutputCleanup